{% if template == 'product' and section.settings.enable_modal %}
  {{ 'section-featured-products-modal.css' | asset_url | stylesheet_tag }}

  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_vertically | times: 0.75 | round: 0 }}px;
      padding-bottom :{{ section.settings.padding_vertically | times: 0.75 | round: 0 }}px;
      padding-left: {{ section.settings.padding_horizontally | times: 0.75 | round: 0 }}px;
      padding-right: {{ section.settings.padding_horizontally | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_vertically }}px;
        padding-bottom: {{ section.settings.padding_vertically }}px;
        padding-left: {{ section.settings.padding_horizontally }}px;
         padding-right: {{ section.settings.padding_horizontally }}px;
      }
    }

    .featured-products-modal__heading,
    .featured-products-modal__saved {
      color:  {{ section.settings.title_color }};
    }
  {%- endstyle -%}

  <div id="featuredProductsModal" class="featured-products-modal">
    <div class="featured-products-modal__overlay"></div>

    <div class="featured-products-modal__container{% if section.settings.container-reverse %} featured-products-modal__container--reverse{% endif %} section-{{ section.id }}-padding">
      <button class="featured-products-modal__close">
        <span class="svg-wrapper">
          {{- 'icon-close-featured-products-modal.svg' | inline_asset_content -}}
        </span>
      </button>

      <div class="featured-products-modal__image">
        {%- if section.settings.image != blank -%}
          <img
            srcset="
              {%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
              {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
              {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
              {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
              {{ section.settings.image | image_url }} {{ section.settings.image.width }}w
            "
            sizes="100vw"
            src="{{ section.settings.image | image_url: width: 1500 }}"
            loading="lazy"
            alt="{{ section.settings.image.alt | escape }}"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
          >
        {%- else -%}
          <img
            srcset="
              {%- if  product.featured_image.width >= 375 -%}{{ product.featured_image | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if  product.featured_image.width >= 750 -%}{{ product.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if  product.featured_image.width >= 1100 -%}{{ product.featured_image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if  product.featured_image.width >= 1500 -%}{{ product.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {%- if  product.featured_image.width >= 1780 -%}{{ product.featured_image | image_url: width: 1780 }} 1780w,{%- endif -%}
              {%- if  product.featured_image.width >= 2000 -%}{{ product.featured_image | image_url: width: 2000 }} 2000w,{%- endif -%}
              {%- if  product.featured_image.width >= 3000 -%}{{ product.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
              {%- if product.featured_image.width >= 3840 -%}{{ product.featured_image | image_url: width: 3840 }} 3840w,{%- endif -%}
              {{ product.featured_image | image_url }} {{ product.featured_image.width }}w
            "
            sizes="100vw"
            src="{{ product.featured_image | image_url: width: 1500 }}"
            loading="lazy"
            alt="{{ product.featured_image.alt | escape }}"
            width="{{ product.featured_image.width }}"
            height="{{ product.featured_image.width | divided_by: product.featured_image.aspect_ratio }}"
          >
        {%- endif -%}
      </div>

      <div class="featured-products-modal__content">
        {% if section.settings.title %}
          <h2 class="featured-products-modal__heading">
            {{ section.settings.title }}
          </h2>
        {% endif %}

        <button id="click-test" type="button">click</button>

        <div class="featured-products-modal__text">
          {% assign product_title_bold = '<b>' | append: product.title | append: '</b>' %}
          <h3>{{ section.settings.description | replace: 'PRODUCT', product_title_bold }}</h3>
          {% assign product_save_money_bold = '<b class="featured-products-modal__saved">$13!</b>' %}
          <p>{{ section.settings.text | replace: 'MONEY', product_save_money_bold }}</p>
        </div>

        <div class="featured-products-modal__products"></div>

        <div class="featured-products-modal__buy-buttons"></div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const modal = document.getElementById('featuredProductsModal');
      const closeBtn = modal.querySelector('.featured-products-modal__close');
      const overlay = modal.querySelector('.featured-products-modal__overlay');
      const clickTest = document.getElementById('click-test');
      const drawer = document.querySelector('cart-notification');
      const productForm = document.querySelector('form[data-type="add-to-cart-form"]');
      const quantitySpan = document.querySelector('.product-form__input.product-form__quantity .quantity-cart');

      const openModal = () => modal.classList.add('is-active');
      const closeModal = () => modal.classList.remove('is-active');

      closeBtn?.addEventListener('click', closeModal);
      overlay?.addEventListener('click', closeModal);

      // Product form submit intercept
      const initProductFormListener = () => {
        if (!productForm) return;

        productForm.addEventListener(
          'submit',
          function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            openModal();
          },
          { capture: true }
        );
      };

      // Add product with AJAX to cart
      const addProductViaAjax = (form) => {
        const formData = new FormData(form);

        if (drawer) {
          formData.append(
            'sections',
            drawer.getSectionsToRender().map((section) => section.id)
          );
          formData.append('sections_url', window.location.pathname);
        }

        return fetch(window.Shopify.routes.root + 'cart/add.js', {
          method: 'POST',
          body: formData,
          headers: { 'X-Requested-With': 'XMLHttpRequest' },
        }).then((response) => response.json());
      };

      //Button handler
      const initClickTest = () => {
        if (!clickTest) return;

        clickTest.addEventListener('click', () => {
          const form = document.querySelector('product-form form');

          if (!form) {
            console.error('Product form not found');
            return;
          }

          addProductViaAjax(form)
            .then((data) => {
              if (window.publish && window.PUB_SUB_EVENTS) {
                publish(PUB_SUB_EVENTS.cartUpdate, {
                  source: 'product-form',
                  productVariantId: data.variant_id,
                });
              }

              if (drawer && data.sections) {
                drawer.renderContents(data);
              }

              //Update quantity on PDP form
              quantitySpan.textContent = data.quantity;

              closeModal();
            })
            .catch((error) => console.error('Error:', error));
        });
      };

      initProductFormListener();
      initClickTest();
    });
  </script>
{% endif %}

{% schema %}
{
  "name": "Feature products modal",
  "limit": 1,
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_modal",
      "label": "Enable modal window",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_once",
      "label": "Show only once per customer",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "container-reverse",
      "label": "Reverse container",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Modal image"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading",
      "default": "Special offer for you"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description",
      "default": "You are trying to add PRODUCT to the cart."
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "Complete your look and save $PRICE!"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_vertically",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top/bottom",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_horizontally",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding left/right",
      "default": 52
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 2,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature products modal",
      "blocks": []
    }
  ]
}
{% endschema %}
